@page
@model MAS_Core.Pages.Employees.E2.DetailsModel

<div>
    <h4>Dispatcher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dispatcher.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dispatcher.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dispatcher.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dispatcher.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dispatcher.PESEL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dispatcher.PESEL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dispatcher.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dispatcher.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dispatcher.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dispatcher.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dispatcher.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dispatcher.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dispatcher.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dispatcher.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dispatcher.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dispatcher.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dispatcher.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dispatcher.Salary)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Dispatcher?.DispatcherID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
