@page
@model MAS_Core.Pages.Forms.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Form</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Form.Individual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Form.Individual.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Form.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Form.Company.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Form.CustomerService)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Form.CustomerService.CustomerServiceID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Form.Dispatcher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Form.Dispatcher.DispatcherID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Form.PaymentID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Form.PaymentID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Form.ClientsID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Form.ClientsID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Form.DepartureName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Form.DepartureName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Form.DestinationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Form.DestinationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Form.Distance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Form.Distance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Form.PayloadType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Form.PayloadType)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Form.FormID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
