@model IEnumerable<MAS_Core.Models.Wagon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoadQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoadType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WagonType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoadQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoadType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WagonType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WagonID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WagonID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WagonID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
