@page
@model MAS_Core.Pages.Employees.E3.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Warehouseman</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouseman.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouseman.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouseman.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouseman.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouseman.PESEL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouseman.PESEL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouseman.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouseman.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouseman.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouseman.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouseman.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouseman.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouseman.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouseman.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouseman.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouseman.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouseman.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouseman.Salary)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Warehouseman.WarehousemanID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
