@page
@model MAS_Core.Pages.Employees.E3.DetailsModel

<div>
    <h4>Warehouseman</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouseman.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouseman.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouseman.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouseman.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouseman.PESEL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouseman.PESEL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouseman.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouseman.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouseman.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouseman.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouseman.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouseman.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouseman.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouseman.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouseman.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouseman.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouseman.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouseman.Salary)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Warehouseman?.WarehousemanID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
