@page
@model MAS_Core.Pages.Employees.IndexModel

<p class="display-6">Customer service</p>
@if (Model.CustomerServiceList != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerServiceList[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerServiceList[0].Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerServiceList[0].PESEL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerServiceList[0].Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerServiceList[0].Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerServiceList[0].Login)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerServiceList[0].DOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerServiceList[0].Salary)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CustomerServiceList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PESEL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        <a asp-page="./E1/Edit" asp-route-id="@item.CustomerServiceID">Edit</a> |
                        <a asp-page="./E1/Details" asp-route-id="@item.CustomerServiceID">Details</a> |
                        <a asp-page="./E1/Delete" asp-route-id="@item.CustomerServiceID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else
{
    <p class="display-6">No records to show</p>
}
<p>
    <a asp-page="./E1/Create">Create New CustomerService</a>
</p>
<p class="display-6">Dispatchers</p>
@if (Model.DispatcherList != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DispatcherList[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DispatcherList[0].Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DispatcherList[0].PESEL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DispatcherList[0].Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DispatcherList[0].Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DispatcherList[0].Login)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DispatcherList[0].DOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DispatcherList[0].Salary)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DispatcherList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PESEL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        <a asp-page="./E2/Edit" asp-route-id="@item.DispatcherID">Edit</a> |
                        <a asp-page="./E2/Details" asp-route-id="@item.DispatcherID">Details</a> |
                        <a asp-page="./E2/Delete" asp-route-id="@item.DispatcherID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else
{
    <p class="display-6">No records to show</p>
}
<p>
    <a asp-page="./E2/Create">Create New Dispatcher</a>
</p>
<p class="display-6">Warehousemen</p>
@if (Model.WarehousemanList != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WarehousemanList[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarehousemanList[0].Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarehousemanList[0].PESEL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarehousemanList[0].Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarehousemanList[0].Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarehousemanList[0].Login)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarehousemanList[0].DOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarehousemanList[0].Salary)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.WarehousemanList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PESEL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        <a asp-page="./E3/Edit" asp-route-id="@item.WarehousemanID">Edit</a> |
                        <a asp-page="./E3/Details" asp-route-id="@item.WarehousemanID">Details</a> |
                        <a asp-page="./E3/Delete" asp-route-id="@item.WarehousemanID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else
{
    <p class="display-6">No records to show</p>
}
<p>
    <a asp-page="./E3/Create">Create New Warehouseman</a>
</p>
