@page
@model MAS_Core.Pages.Employees.E1.DetailsModel

<div>
    <h4>CustomerService</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerService.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerService.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerService.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerService.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerService.PESEL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerService.PESEL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerService.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerService.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerService.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerService.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerService.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerService.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerService.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerService.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerService.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerService.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerService.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerService.Salary)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CustomerService?.CustomerServiceID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
